{% extends 'base.html' %}

{% block content %}
    <style>
        .index-content{
            flex-wrap: wrap; 
            margin: 0 auto; 
            width: 1200px;
        }
        @media screen and (max-width: 1200px) {
            .index-content{
                flex-wrap: wrap; 
                margin: 0 auto; 
                width: 950px;
            }
        }
        @media screen and (max-width: 950px) {
            .index-content{
                flex-wrap: wrap; 
                margin: 0 auto; 
                width: 600px;
            }
        }
        @media screen and (max-width: 600px) {
            .index-content{
                flex-wrap: wrap; 
                margin: 0 auto; 
                width: 320px;
            }
        }
    </style>
    <div class="content">
        <div class="index-content">
            <!-- admax -->
            <div style="width: 729px; margin: 0 auto;" class="head-add">
                <script src="https://adm.shinobi.jp/s/73eb1cc90ab2bcea0845a5e3ef329f86"></script>
            </div>
            <!-- admax -->
            <div style="height: 60px;"></div>
            {% if follow_scores %}
            <div style="margin-left: 25px; font-size: 22px;">フォロー中のユーザー</div>
            <div style="display: flex; flex-wrap: wrap; margin-top: 16px;">
                {% for post in follow_scores %}
                <div style="display: inline; margin-left: 25px; width: 270px; overflow-wrap:break-word;">
                    <div class="post" style="width: 270px; height: 152px;">
                        <a href="{% url 'score_detail' pk=post.pk %}">
                            <div class="post" style="position: relative; overflow: hidden; width: 270px; height: 152px; display: flex; align-items: center; justify-content: center; background-color: var(--art-background-color);">
                                <img src="{{ post.score_art.url }}" style="height: 152px; position: absolute;"/>
                            </div>
                        </a>
                    </div>
                    <div style=" height: 20px; max-height: 50px;overflow: hidden; margin-top: 4px; font-size: 14px">
                        {{ post.song_name }}
                    </div>
                    <div style="margin-top: 3px;">
                        <a href="{% url 'user_detail' pk=post.artist.pk %}" style="display: flex;">
                            <img src="{{ post.artist.face.url }}" style="width: 24px; height: 24px; border-radius: 50%;vertical-align: middle;"/>
                            <div style="font-size: 14px; margin-left: 2px; height: 20px; overflow: hidden; width: 244px;">{{ post.artist.username }}</div>
                        </a>
                    </div>
                    <br>
                </div>
                {% endfor %}
            </div>
            <div style="margin-top:80px;"></div>
            {% endif %}

            {% if recommend_scores %}
            <div style="margin-left: 25px; font-size: 22px;">おすすめ</div>
            <div style="display: flex; flex-wrap: wrap; margin-top: 16px;">
                {% for post in recommend_scores %}
                <div style="display: inline; margin-left: 25px; width: 270px; overflow-wrap:break-word;">
                    <div class="post" style="width: 270px; height: 152px;">
                        <a href="{% url 'score_detail' pk=post.pk %}">
                            <div class="post" style="position: relative; overflow: hidden; width: 270px; height: 152px; display: flex; align-items: center; justify-content: center; background-color: var(--art-background-color);">
                                <img src="{{ post.score_art.url }}" style="height: 152px; position: absolute;"/>
                            </div>
                        </a>
                    </div>
                    <div style=" height: 20px; max-height: 50px;overflow: hidden; margin-top: 4px; font-size: 14px">
                        {{ post.song_name }}
                    </div>
                    <div style="margin-top: 3px;">
                        <a href="{% url 'user_detail' pk=post.artist.pk %}" style="display: flex;">
                            <img src="{{ post.artist.face.url }}" style="width: 24px; height: 24px; border-radius: 50%;vertical-align: middle;"/>
                            <div style="font-size: 14px; margin-left: 2px; height: 20px; overflow: hidden; width: 244px;">{{ post.artist.username }}</div>
                        </a>
                    </div>
                    <br>
                </div>
                {% endfor %}

                <!-- admax -->
                <div style="margin: 0 0 0 25px;">
                    <script src="https://adm.shinobi.jp/s/ae42942d8cca6f932753e8531586248c"></script>
                </div>
                <!-- admax -->

            </div>
            {% endif %}

            <div style="margin-top:80px;"></div>

            {% for t, scores in scores_tag.items %}
            <div style="margin-left: 25px; font-size: 22px;"><a href="{% url 'search' %}?keyword={{t.name}}" style="color: var(--main-color);">#{{ t.name }}</a></div>
            <div style="display: flex; flex-wrap: wrap; margin-top: 16px;">
                {% for post in scores %}
                <div style="display: inline; margin-left: 25px; width: 270px; overflow-wrap:break-word;">
                    <div class="post" style="width: 270px; height: 152px;">
                        <a href="{% url 'score_detail' pk=post.pk %}">
                            <div class="post" style="position: relative; overflow: hidden; width: 270px; height: 152px; display: flex; align-items: center; justify-content: center; background-color: var(--art-background-color);">
                                <img src="{{ post.score_art.url }}" style="height: 152px; position: absolute;"/>
                            </div>
                        </a>
                    </div>
                    <div style=" height: 20px; max-height: 50px;overflow: hidden; margin-top: 4px; font-size: 14px">
                        {{ post.song_name }}
                    </div>
                    <div style="margin-top: 3px;">
                        <a href="{% url 'user_detail' pk=post.artist.pk %}" style="display: flex;">
                            <img src="{{ post.artist.face.url }}" style="width: 24px; height: 24px; border-radius: 50%;vertical-align: middle;"/>
                            <div style="font-size: 14px; margin-left: 2px; height: 20px; overflow: hidden; width: 244px;">{{ post.artist.username }}</div>
                        </a>
                    </div>
                    <br>
                </div>
                {% endfor %}
            </div>
            <div style="margin-top:70px;"></div>
            {% endfor %} 
        </div>
    </div>
{% endblock %}