{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <div style="flex-wrap: wrap; margin: 0 auto; width: 1200px;">
            <!-- admax -->
            <div style="width: 729px; margin: 0 auto;">
                <script src="https://adm.shinobi.jp/s/73eb1cc90ab2bcea0845a5e3ef329f86"></script>
            </div>
            <!-- admax -->
            <div style="height: 60px;"></div>
            <div style="border: 1px solid white; width: 100%;">
                <div style="font-size:22px;margin-left: 5px;"><a href="{% url 'notice' pk=user.pk %}">←お知らせ一覧へ戻る</a></div>
            </div>
            <div style="min-height: 600px;border-left: 1px solid white;border-right: 1px solid white;border-bottom: 1px solid white;">
                <div style="width: 95%; margin: 0 auto;">
                    <div style="height: 5px;"></div>
                    <div style="font-size: 25px;">{{ notice.title }}</div>
                    <div style="margin-top: 5px;">{{ notice.content|linebreaksbr  }}</div>
                    <div style="margin-top: 50px;">{{ notice.uploaded_at }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}