{% extends 'base.html' %}

{% block content %}
    <div class="content">
        <div style="flex-wrap: wrap; margin: 0 auto; width: 1200px;">
            {% for score, tags in score_dict.items %}
            <div class="boxA" style="margin-left: 2%; display: flex;">
                <a href="{% url 'score_detail' pk=score.pk %}">
                    <div class="post" style="position: relative; overflow: hidden; width: 310px; height: 175px; display: flex; align-items: center; justify-content: center;">
                        <img src="{{ score.score_art.url }}" style="height: 17500px; filter: blur(4px);"/>
                        <img src="{{ score.score_art.url }}" style="height: 175px; position: absolute;"/>
                    </div>
                </a>
                <div style="margin-left: 15px;">
                    <big>{{ score.song_name }}</big>
                    {% if score.albam_id %}
                        <div style="font-size: 15px;">アルバム <a href="{% url 'albam_detail' pk=score.albam_id %}">{{ score.albam.albam_title }}</a></div>
                    {% endif %}
                    <div>{{ score.play_count }}回再生・{{ score.uploaded_at }}</div>
                    <div style="height: 30px; ">
                        <a href="{% url 'user_detail' pk=score.artist.pk %}">
                            <img src="{{ score.artist.face.url }}" style="width: 30px; height: 30px; border-radius: 50%;vertical-align: middle;"/>
                            {{ score.artist.username }}
                        </a>
                    </div>
                    {% for tag in tags %}
                    {% if tag %}
                    <a href="{% url 'search' %}?keyword={{ tag }}" style="color: var(--main-color);">#{{ tag }}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <br>
            {% endfor %}
        </div>
    </div>
{% endblock %}