{% extends 'base.html' %}

{% block home %}
<div style="margin-top: 50px;"></div>
<div style="display: flex;">
    <div style="font-size: 20px;"><a href="{% url 'user_detail' pk=my.pk %}">アップロード順</a></div>
    <div style="font-size: 20px; margin-left: 20px;"><a href="{% url 'albam_sort' pk=my.pk %}">アルバム</a></div>
    <div style="font-size: 20px; margin-left: 20px;">お気に入り</div>
    <div style="font-size: 20px; margin-left: 20px;"><a href="{% url 'user_follows' pk=my.pk %}">フォロー</a></div>
    <div style="font-size: 20px; margin-left: 20px;"><a href="{% url 'user_explanation' pk=my.pk %}">プロフィール</a></div>
</div>
<div class="user_detail_border">
    {% for post in posts %}
    <div class="post" style="width: 100%; height: 70px; display: flex;align-items: center; border-bottom: 1px groove rgb(206, 206, 206);">
        <a href="{% url 'score_detail' pk=post.pk %}">
            <div style="overflow: hidden; position: relative; width: 106px; height: 60px; margin-left: 5px; display: flex; align-items: center; justify-content: center;">
                <img src="{{ post.song.score_art.url }}" style="height: 60px; position: absolute;"/>
                <img src="{{ post.song.score_art.url }}" style="height: 6000px;"/>
            </div>
        </a>
        <div style="margin-left: 10px; width: 300px; overflow: hidden;"><a href="{% url 'score_detail' pk=post.song.pk %}">{{ post.song.song_name }}</a></div>
        <a href="{% url 'user_detail' pk=post.song.artist.pk %}">
            <img src="{{ post.song.artist.face.url }}" style="width: 23px; height: 23px; border-radius: 50%;vertical-align: middle;"/>
            <span style="font-size: 14px;">{{ post.song.artist.username }}</span>
        </a>
        {% if post.song.albam %}
        <div style="margin-left: 100px; width: 300px; overflow: hidden;">Albam : <a href="{% url 'albam_detail' pk=post.song.albam.id %}">{{ post.song.albam.albam_title }}</a></div>
        {% endif %}
        {% if my == user %}
        <div style="margin: 0 0 0 auto; width: 50px;"><a href="{% url 'score_edit' pk=post.song.pk %}">編集</a></div>
        {% endif %}
    </div>
    {% endfor %}
</div>
    <script>

    </script>

{% endblock %}